@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import './stylesheets/normalize.css';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'Open Sans', Verdana, 'DejaVu Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

:root {
  --clr-dark-blue: #575b7e;
  --clr-dark-blue-40: rgba(145, 151, 211, 0.4);
  --clr-very-dark-blue: #201c3d;
  --clr-light-grayish-blue: #edeef3;
  --clr-dark-moderate-blue-10: rgba(67, 91, 126, 0.1);
  --clr-dark-moderate-blue-30: rgba(67, 91, 126, 0.3);
  --clr-desaturated-blue: #8594be;

  --clr-success: green;
  --clr-warning: orange;
  --clr-alert: red;

  --clr-gray: #a2a2a2;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-black-05: rgba(0, 0, 0, 0.05);
  --clr-black-10: rgba(0, 0, 0, 0.1);
  --clr-black-20: rgba(0, 0, 0, 0.2);
  --clr-black-30: rgba(0, 0, 0, 0.3);
  --clr-black-40: rgba(0, 0, 0, 0.4);

  --clr-primary: #ff7500;
  --clr-primary-hover: #ff851d;
  --clr-secondary: #ff7500;
  --clr-text: #343434;
}
